# dependencies
node_modules/
.pnpm-store/

# builds / caches
dist/
.next/
out/
build/
.turbo/
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# os / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
.next-build/
